html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Alegreya, serif;
}

body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 0 0 20%;
    background-color: #E2E2E2;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
}

#map {
    flex: 1; 
}

p {
    padding: 0;
    margin: 0px;
    font-size: 12px;
    line-height: 1.25;
}

.popup-article {
    max-width: 550px;
    /* width: 100%; */
    width: fit-content;
    box-sizing: border-box; 
    line-height: 1.1;
    padding: 0px;
    border-radius: 10px;
    fill: #F5F5F5;

}

a {
    text-decoration: none;
}

.popup-article-title {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-decoration: underline 1px black;
    text-underline-offset: 2px;
    margin-bottom: 8px;
}

.popup-article-info {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 5px;
    margin: 0;
    padding: 0;
}

p.popup-article-category,
p.popup-article-location,
p.popup-article-source {
    border-radius: 999px;
    font-size: 11px;
    letter-spacing: -0.11px;
    line-height: 1.25;
    font-weight: 500;
    white-space: nowrap;
    margin: 0;
    padding: 2px 6px;
} 

.popup-tags {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px;
    margin: 0;
    padding: 0;
    align-items: center;
    max-width: 80%;
}

.popup-article-category {
    color: #f5f5f5;
}

.popup-article-location {
    color: #00314C;
    background-color: #c1d4e0;
}

.popup-article-source {
    color: #f5f5f5;
    background-color: #9f9f9f;
}

p.popup-article-date {
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    white-space: nowrap;
    padding: 0;
    padding-top: 2px;
    margin: 0;
}

.popup-article-summary {
    color: #00314C;
    font-family: Alegreya;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.11px;
    padding: 0;
    margin-top: 4px;
    gap: 4px;
    /* padding: 5px 0; */
}


.category-toggle-control {
    display: inline-flex; 
    flex-direction: column;
    align-items: flex-end; 
    padding: 10px;
    gap: 10px;
    z-index: 1000;
}

.category-toggle-btn {
    display: inline-flex;  
    justify-content: flex-end; 
    align-items: center; 
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    width: auto;
    min-width: 0; 
    max-width: none;
    gap: 8px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 999px;
    color: #f5f5f5;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 1;
    transition: opacity 0.3s, transform 0.2s;
}

.sidebar, .leaflet-control {
    width: auto !important;
  }

.category-toggle-btn span {
    white-space: nowrap;
}

.category-toggle-btn img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.category-toggle-btn:hover img {
    filter: brightness(1.2);
}

.category-toggle-btn.inactive {
    opacity: 0.3;
  }

.category-toggle-btn:hover {
    transform: scale(1.05);
}

#search-container {
    display: flex;
    background-color: white;
    border-radius: 999px;
    padding: 5px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}
  
#search-input {
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 16px;
    background: none;
    width: 200px;
    font-family: Alegreya, serif;
}

#search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#search-button img {
    width: 30px;
    height: 30px;
}

#map-controls {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 9999;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

#map-buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-end;
}

.leaflet-control-layers, .filter-button, .locate-user-button {
    background-color: white;
    border-radius: 999px;
    padding: 5px;
    border: none !important;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2) !important;
    font-family: sans-serif;
    cursor: pointer;
    transition: transform 0.2s;
    
}

.filter-button:hover, .locate-user-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.filter-button, .locate-user-button {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locate-user-button img, .filter-button img {
    width: 24px;
    height: 24px;
}


.leaflet-control-layers-expanded {
background-color: white;
border-radius: 8px;
padding: 8px;
}

.leaflet-control-layers-expanded label {
    color: #000000;
    font-size: 14px;
    font-family: Alegreya, serif;
    display: flex;
    align-items: center;
    gap: 6px;
}

.leaflet-control-layers-expanded input[type="checkbox"], .leaflet-control-layers-expanded input[type="radio"]  {
    accent-color: #00314C;
    width: 14px;
    height: 14px;
}

/*
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background-size: 18px 18px; 
    text-indent: -9999px;
    z-index: 9999;
    display: flex;
    align-items: center;
    background-color: #9f9f9f;
    border-radius: 999px;
    padding: 4px 4px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px;
}

.leaflet-control-zoom-in {
    background: url("icons/plus.svg") no-repeat center center;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);

}

.leaflet-control-zoom-out {
    background: url("icons/minus.svg") no-repeat center center;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);

}
*/

.custom-zoom-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}


.zoom-in {
    background: url("icons/plus.svg") no-repeat center center;
    background-size: 18px 18px; 
}
.zoom-out {
    background: url("icons/minus.svg") no-repeat center center;
    background-size: 18px 18px; 
}

.zoom-btn {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: none;
    background-color: #E2E2E2;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: bold;
    color: #00314C;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.zoom-btn:hover {
transform: scale(1.05);
}
  