html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Alegreya", serif;
}

body {
    display: flex;
    flex-direction: row;
}

.leaflet-control-layers-toggle {
    background-image: url("newspaper/icons/layers.svg") !important;
    background-size: 28px !important;
}
.sidebar {
    flex: 0 0 auto;
    width: unset;
    background-color: #E2E2E2;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 900;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    resize: horizontal;
    overflow: auto;
    min-width: 250px;
    max-width: 1000px;
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#map {
    flex: 1; 
}

p {
    padding: 0;
    margin: 0px;
    font-size: 12px;
    line-height: 1.25;
}

.popup-article {
    max-width: 1000px;
    width: fit-content;
    box-sizing: border-box; 
    line-height: 1.1;
    padding: 0px;
    border-radius: 10px;
    fill: #F5F5F5;
    z-index: 9999;
}

a {
    text-decoration: none;
}

.popup-article-title {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-decoration: underline 1px black;
    text-underline-offset: 2px;
    margin-bottom: 5px;
    margin-top: 5px
}

.popup-article-info {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 5px;
    margin: 0;
    padding: 0;
}

p.popup-article-category,
p.popup-article-location,
p.popup-article-source {
    border-radius: 999px;
    font-size: 11px;
    letter-spacing: -0.11px;
    line-height: 1.25;
    font-weight: 500;
    white-space: nowrap;
    margin: 0;
    padding: 2px 6px;
} 

.popup-tags {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px;
    margin: 0;
    padding: 0;
    align-items: center;
    max-width: 77%;
}

.popup-article-category {
    color: #f5f5f5;
}

.popup-article-location {
    color: #00314C;
    background-color: #c1d4e0;
}

.popup-article-source {
    color: #f5f5f5;
    background-color: #9f9f9f;
}

p.popup-article-date {
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    white-space: nowrap;
    padding: 0;
    padding-top: 2px;
    margin: 0;
    max-width: 100px;
}

p.popup-article-summary {
    color: #00314C;
    font-family: "Alegreya", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.11px;
    padding: 0;
    margin-top: 16px;
    gap: 4px;
    /* padding: 5px 0; */
}

.category-toggle-control {
    display: inline-flex; 
    flex-direction: column;
    align-items: flex-end; 
    padding: 10px;
    gap: 10px;
    z-index: 1000;
}

.category-toggle-btn {
    display: inline-flex;  
    justify-content: flex-end; 
    align-items: center; 
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    width: auto;
    min-width: 0; 
    max-width: none;
    /* gap: 10px; */
    cursor: pointer;
    padding: 10px;
    border-radius: 999px;
    color: #f5f5f5;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 1;
    transition: opacity 0.3s, transform 0.2s;
}

.sidebar, .leaflet-control {
    width: auto !important;
  }

.category-toggle-btn span {
    white-space: nowrap;
    display: none;
}

.category-toggle-btn:hover span {
    display: inline-block;
    padding-left: 15px;
    padding-right: 10px;
}

.category-toggle-btn img {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.category-toggle-btn:hover img {
    filter: brightness(1.2);
}

.category-toggle-btn.inactive {
    opacity: 0.3;
  }

.category-toggle-btn:hover {
    transform: scale(1.05);
}

#search-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 999px;
    padding: 5px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}
 
#search-input {
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 14px;
    background: none;
    width: 200px;
    font-family: "Alegreya", serif;
    padding-left: 0;
}
 
#search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}

#search-button img {
    width: 30px;
    height: 30px;
}

#map-controls {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 9999;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

#map-buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-end;
}

.leaflet-control-layers, .filter-button, .locate-user-button {
    background-color: #E2E2E2;
    border-radius: 999px;
    padding: 5px;
    border: none !important;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2) !important;
    cursor: pointer;
    transition: transform 0.2s;
    font-family: "Alegreya", serif;
    font-size: 13px;
}

.filter-button:hover, .locate-user-button:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.filter-button, .locate-user-button {
    padding: 0;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locate-user-button img, .filter-button img{
    width: 30px;
    height: 30px;
}

.leaflet-control-layers-expanded {
    background-color: #E2E2E2;
    border-radius: 10px;
    padding: 8px;
}

.leaflet-control-layers-expanded label {
    color: #00314C;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.leaflet-control-layers-expanded input[type="checkbox"], .leaflet-control-layers-expanded input[type="radio"]  {
    accent-color: #00314C;
    width: 14px;
    height: 14px;
}

.custom-zoom-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.left-map-controls-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.zoom-out img, .zoom-in img{
    width: 30px;
    height: 30px;
}

.zoom-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: #E2E2E2;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 9999;
}

.zoom-btn:hover {
    transform: scale(1.05);
}

.date-filters label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    gap: 8px;
    user-select: none;
    white-space: normal;
}

.date-filters input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #00314C;
    font-size: 14px;
    font-family: "Alegreya", serif;
    border-radius: 50%;
    position: relative;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.date-filters input[type="checkbox"]:hover {
    background-color: #c1d4e0; 
    box-shadow: inset 0 0 0 1px white; 
}

.date-filters input[type="checkbox"]:checked {
    background-color: #00314C;
    box-shadow: inset 0 0 0 4px white;
}

.date-filters {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 9999;
    min-width: 120px;
    background-color: #E2E2E2;
    color: #00314C;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.1s, visibility 0.1s;
}

.filter-button:hover .date-filters {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.reset-view-button, .info-button, .zoom-btn {
    padding: 0;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E2E2E2;
    border-radius: 999px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.2s;
}
  
.reset-view-button:hover,
.zoom-btn:hover, .info-button:hover {
    transform: scale(1.05);
}

.reset-view-button img, .info-button img {
    width: 30px;
    height: 30px;
}

.sidebar-content {
    max-height: 100vh;
    overflow-y: auto;
    padding: 15px;
}

.sidebar-article {
    /* background: #f5f5f5; */
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar-article-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.sidebar-article-summary {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.info-container {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 90px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 50%;
    flex: 1;
    align-self: stretch;
    z-index: 1000;
}

.info-content {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.info-text p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 7px;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px
}

.info-header-title {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.close-info-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #707070;
    cursor: pointer;
    font: 17px/14px Tahoma, Verdana, sans-serif;
    margin: 0;
}

.info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.info-footer-right {
    text-align: right;
}

.info-logo {
    width: 70px;
    padding: 0;
    margin-left: -5px;
    margin-bottom: -6px;;
}

.map-location-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

#current-location-button {
  font-family: 'Alegreya', serif;
  font-size: 16px;
  text-transform: uppercase;
  background: white;
  border: none;
  padding: 8px 20px;
  border-radius: 999px;
  margin: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  cursor: default;
  font-weight: 600;
}

#sidebar-resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #ccc;
  height: 100vh;
  position: absolute;
  left: 250px; 
  top: 0;
  z-index: 10000;
}


@media (max-width: 668px) {
    body {
        flex-direction: column-reverse;
        position: relative;
    }

    .leaflet-control-attribution {
        border-radius: 5px;
        margin-bottom: 3px !important;
      }
      
    .sidebar {
        flex-direction: column;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
        flex: 0 0 80px !important;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .sidebar-content {
        flex: 1;
        overflow-x: auto;
    }

    #sidebar-resizer {
        display: none;
    }

    .logo {
        position: fixed;
        justify-content: start;
        top: 0;
        left: 10px;
        width: 100%;
        z-index: 1000;
    }

    #search-input {
        opacity: 0;
        visibility: hidden;
    }

    #search-button {
        width:28px;
        height: 28px;
        transition: 0.2s;
    }

    #search-button img {
        width: 28px;
        height: 28px;
        position: absolute;
        right: 10px;
    }

    #search-container {
        padding: 8px;
        position: relative;
        background-color: #E2E2E2;
    }

    #search-button:hover #search-input {
        opacity: 1;
        visibility: visible;
        transition: 0.2s;

    }

    #search-button:hover {
        width: 200px;
        padding: 5px;
        transition: 0.2s;
    }

    
    .leaflet-control-layers {
        padding: 8px;
    }
    .leaflet-control-layers-toggle{
        width: 28px !important;           
        height: 28px !important;  
        background-size: 26px 26px !important; 

    }
    
    .category-toggle-control  {
        gap: 7px;
    }

    .category-toggle-btn img {
        width: 28px;
        height: 28px;
    }

    .category-toggle-btn {
        padding: 8px;;
    }

    .filter-button, .locate-user-button {
        padding: 8px;
        width: 28px;
        height: 28px;
    }

    .locate-user-button img, .filter-button img{
        width: 28px;
        height: 28px;
    }


    .reset-view-button img, .info-button img {
        width: 28px;
        height: 28px;
    }

    .reset-view-button, .info-button {
        width: 28px;
        height: 28px;
        padding: 8px ;
    }

    .zoom-btn {
        width: 44px;
        height: 44px;
    }

}

